{{> head }}

<body>

    {{> navbar }}

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Hola Hola</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores consequuntur obcaecati laudantium, optio officiis quisquam consectetur amet nobis, fuga odio quos impedit? Ullam debitis nulla optio veritatis placeat dicta?</p>
            </div>

            <div class="col-6">
                <img class="img-thumbnail" src="public/assets/images/1.png" alt="x">
            </div>
        </div>
    </div>

    {{> footer }}
    {{> scripts }}
